# node.js
# proxy=http://127.0.0.1:52539
registry=https://registry.npmmirror.com

# electron
ELECTRON_GET_USE_PROXY=1
GLOBAL_AGENT_HTTP_PROXY=http://127.0.0.1:52539
GLOBAL_AGENT_HTTPS_PROXY=http://127.0.0.1:52539
# ELECTRON_MIRROR="https://npmmirror.com/mirrors/electron/"
# ELECTRON_CUSTOM_DIR="{{ version }}"
